.slide-header {
  display: flex;
  align-items: center;

  &__img {
    border-radius: 50%;
    display: block;

    margin-right: 12px;

    width: 32px;
    height: 32px;
  }

  &__name {
    color: #292929;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
}
