*,
*:after,
*:before {
  background: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: unset;

  outline: none;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

svg {
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  position: relative;

  min-height: 100%;
}

.container {
  margin: 0 auto;

  &--xl {
    width: 1200px;
  }

  &--md {
    width: 980px;
  }
}
