.feeds-posts {
  &__post {
    margin-top: 24px;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__toggler {
    margin-top: 18px;
  }

  &__comments {
    margin-top: 10px;
  }

  &__comment {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__date {
    color: rgba(0, 0, 0, 0.4);
    display: block;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1em;

    margin-top: 10px;
    text-transform: uppercase;
  }
}

.feeds-posts-topic {
  &__title {
    color: #292929;
    font-size: 26px;
    line-height: 28px;

    margin-bottom: 15px;
  }

  &__subtitle {
    color: #404040;
    font-size: 14px;
    line-height: 22px;
  }

  &__info {
    margin-top: 32px;
  }
}
