.slide {
  background-color: #fff;
  border-radius: 8px;

  position: relative;
  transform: scale(0.8);
  transition: transform .25s ease-in-out;

  will-change: transform;

  &--active {
    transform: scale(1);
  }

  &__header {
    border-bottom: 1px solid #CACACA;
    padding: 8px;
  }

  &__title {
    padding-top: 12px;
    padding-bottom: 4px;
  }

  &__content {
    overflow: hidden;
    position: relative;

    padding: 18px;
    height: 500px;
  }

  &__spinner {
    color: #31AE54;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    width: 44px;
  }

  &__footer {
    border-top: 1px solid #CACACA;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 18px 32px;
  }

  &__prev,
  &__next {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    color: #404040;

    transition: color .25s ease-in-out;

    width: 45px;
    height: 45px;

    &:hover {
      color: #31AE54;
    }
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -54px;
    transform: translateY(-50%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -54px;
    transform: translateY(-50%);
  }
}

.slide-prev {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 18px;
  }
}

.slide-next {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 18px;
    transform: rotate(180deg);
  }
}
